/* theme dark */
$theme-dark: #cbd0d4;
$text-dark: #ffffff;
$sign-dark: #f3f3f3;
$dot-dark: #f3f3f3;
$number-dark: #4b4e49;
$hover-dark: #9cabb7;
$active-dark: #77838d;

/* theme light */
$theme-light: #ebebeb;
$text-light: #333;
$sign-light: #e8e9e7;
$dot-light: #e8e9e7;
$number-light: #fbfbfb;
$hover-light: #d9d9d9;
$active-light: #b8b8b8;
