.copyright {
    max-width: 1200px;
    margin: 0 auto;

    &__text {
        font-size: 12px;
    }

    &__link {
        color: #548eaa;
        font-weight: bold;
        text-decoration: none;
    }
}
