%span-menu {
    display: block;
    height: 2px;
    background-color: #2b343c;
    margin: 5px 0 0;
    transition: all .1s linear .23s;
    position: relative;
}

.btn-menu {
    padding: 13px 12px;
    position: absolute;
    top: 0px;
    left: 0px;
    cursor: pointer;
    transition: left .23s;
    z-index: 3;
    width: 45px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;

    &:hover {
        background: #d9d9d9;
    }

    &__hidden {
        display: none;
    }

    &__first {
        margin-top: 0;
        @extend %span-menu;

        .btn-menu--active & {
            -webkit-transform: rotate(45deg);
            top: 7px;
        }
    }

    &__second {
        @extend %span-menu;

        .btn-menu--active & {
            opacity: 0;
        }
    }

    &__third {
        @extend %span-menu;

        .btn-menu--active & {
            -webkit-transform: rotate(-45deg);
            top: -7px;
        }
    }
}
