.calculator__button {
    width: 25%;
    line-height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        cursor: pointer;
    }
}

.calculator__number {
    font-weight: 900;
    font-size: 1.5rem;

    &:active {
        font-size: 1.4rem;
    }
}

.calculator__sign {

    &:active {
        font-size: 0.9rem;
    }

    &-icon {
        width: 20px;
    }
}

.calculator__dot {
    font-weight: 900;
    font-size: 1.5rem;

    &:active {
        font-size: 1.4rem;
    }
}
