.journal {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 0px;
    opacity: 0;
    margin: 2px 0px;
    overflow: hidden;
    transition: all .2s;
    background: #f3f3f3;

    &--active {
        opacity: 1;
        height: 99%;
    }

    &__text {
        width: 100%;
        height: calc(100% - 43px);
        border: 0px;
        text-align: right;
        outline: none;
        background: #f3f3f3;
        padding: 10px;
        resize: none;
    }

    &__trash {
        position: absolute;
        bottom: 0px;
        right: 0px;
        padding: 9px 12px;
        height: 43px;
        cursor: pointer;

        &:hover {
            background: #d9d9d9;
        }
    }
}
