.calculator-list {
    display: block;
    position: absolute;
    list-style: none;
    margin: 0;
    box-sizing: border-box;
    width: 220px;
    background-color: #d9d9d9;
    height: 100%;
    top: 0;
    left: -220px;
    transition: left .2s;
    z-index: 2;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;

    .btn-menu--active ~ & {
        left: 0;
    }

    &__element {
        display: block;
        padding: 10px 10px 10px 55px;
        font-size: 17px;
    }

    &__sub-list {
        list-style: none;
        color: white;
    }

    &__sub-element {
        display: block;
        padding: 10px 10px 10px 55px;
        color: black;
        font-size: 14px;

        &:hover {
            background: #8fbfe5;
            cursor: pointer;
        }

        &--active {
            background: #c8c7c7;
        }
    }
}
