.calculator {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 600px;
    border: 1px solid #7298b8;
    box-shadow: 1px 1px 11px 4px rgba(239,239,239,1);
    -webkit-box-shadow: 1px 1px 11px 4px rgba(239,239,239,1);
    -moz-box-shadow: 1px 1px 11px 4px rgba(239,239,239,1);

    &__main {
        position: relative;
    }

    &__screen {
        height: 100px;
    }

    &__menu {
        display: flex;
    }

    &__name {
        font-size: 17px;
        padding: 10px 12px 10px 55px;
    }

    &__val {
        width: 100%;
        height: 100%;
        border: 0;
        background: transparent;
        text-align: right;
        padding: 0 10px;
    }

    &__icon {

        &--journal {
            position: absolute;
            right: 0px;
            top: 0px;
            padding: 9px 12px;
            height: 43px;
            cursor: pointer;

            &:hover {
                background: #d9d9d9;
            }
        }
    }
}

.history-screen__val {
    font-size: 1.1rem;
    letter-spacing: 5px;
}

.main-screen__val {
    font-size: 3rem;
    color: #000;
    font-weight: 600;
}


.icon {

    &--sqrtn {
        position: relative;
    }

    &__sub-title {
        position: absolute;
        top: 0px;
        left: -2px;
        line-height: 3.5;
        font-size: 10px;
    }
}
