.calculator__row {
    display: flex;
    flex-wrap: wrap;

    &--none {
        transition: all 0.3s linear;
        opacity: 0;
        height: 0px;
        overflow: hidden;
    }

    &--active {
        transition: all 0.3s linear;
        opacity: 1;
        height: 64px;
    }
}
