.calculator--dark {
    background: $theme-dark;

    .calculator__sign {
        background: $sign-light;
    }

    .calculator__number {
        background: $number-dark;
        color: $text-dark;
    }

    .calculator__dot {
        background: $dot-light;
    }

    .calculator__button {
        border: 2px solid $theme-dark;

        &:hover {
            background: $hover-dark;
        }

        &:active {
            background: $active-dark;
        }
    }

    .journal {
        background: #4b4e49;

        &__text {
            background: $number-dark;
            color: $text-dark;
        }

        &__icon {
            filter: invert(100%);
        }
    }
}
