.calculator--light {
    background: $theme-light;

    .calculator__sign {
        background: $sign-dark;
    }

    .calculator__number {
        background: $number-light;
        color: $text-light;
    }

    .calculator__dot {
        background: $dot-dark;
    }

    .calculator__button {
        border: 2px solid $theme-light;

        &:hover {
            background: $hover-light;
        }

        &:active {
            background: $active-light;
        }
    }
}
