﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Calculator</title>
</head>
<body>
    <div class="page">
        <header class="page__header page-header">
            <div class="page-header__logo">
                <h1 class="page-header__title"><%= htmlWebpackPlugin.options.title %></h1>
                <h5 class="page-header__subtitle">Simple calculator using simple SASS and JS</h5>
            </div>
        </header>
        <main class="page__content">
            <div class="page__col">
                <div class="page__row page__row--50">
                    <div class="calculator calculator--light" id="calcFirst">
                        <div class="calculator__header">
                            <div class="calculator__menu">
                                <div class="calculator__btn-menu btn-menu">
                                    <span class="btn-menu__first"></span>
                                    <span class="btn-menu__second"></span>
                                    <span class="btn-menu__third"></span>
                                </div>
                                <ul class="calculator-list">
                                    <li class="calculator-list__item">
                                        <span class="calculator-list__element">CALCULATOR</span>
                                        <ul class="calculator-list__sub-list">
                                            <li class="calculator-list__sub-item"><span class="calculator-list__sub-element calculator-list__sub-element--active" data-value="standart">Standart</span></li>
                                            <li class="calculator-list__sub-item"><span class="calculator-list__sub-element" data-value="scientific">Scientific</span></li>
                                        </ul>
                                    </li>
                                    <li class="calculator-list__item">
                                        <span class="calculator-list__element">THEME</span>
                                        <ul class="calculator-list__sub-list">
                                            <li class="calculator-list__sub-item"><span class="calculator-list__sub-element calculator-list__sub-element--active" data-value="light">Light</span></li>
                                            <li class="calculator-list__sub-item"><span class="calculator-list__sub-element" data-value="dark">Dark</span></li>
                                        </ul>
                                    </li>
                                </ul>
                                <div class="calculator__name" id="name">Standart</div>
                                <div class="calculator__icon--journal"><img src="img/clock.png"></div>
                            </div>
                            <div class="calculator__screen">
                                <div class="calculator__history-screen">
                                    <input class="calculator__val history-screen__val" id="history" name="history" type="text" value="" disabled>
                                </div>
                                <div class="calculator__main-screen">
                                    <input class="calculator__val main-screen__val" id="main" name="main" value="" type="text" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="calculator__main">
                            <div class="calculator__row calculator__row--scientific calculator__row--none">
                                <div class="calculator__button calculator__sign" data-value="!n" role="button">n!</div>
                                <div class="calculator__button calculator__sign" data-value="√" role="button">√</div>
                                <div class="calculator__button calculator__sign" data-value="sqr" role="button">
                                    <span>
                                        <sub>x</sub>
                                    </span>
                                    <span>
                                        <sup>2</sup>
                                    </span>
                                </div>
                                <div class="calculator__button calculator__sign" data-value="1/x" role="button">
                                    <span>
                                        <sup>1</sup>
                                    </span>
                                    <span>&frasl;</span>
                                    <span>
                                        <sub><em>x</em></sub>
                                    </span>
                                </div>
                            </div>
                            <div class="calculator__row calculator__row--scientific calculator__row--none">
                                <div class="calculator__button calculator__sign" data-value="log" role="button">log</div>
                                <div class="calculator__button calculator__sign" role="button" data-value="^√">
                                    <span class="icon icon--sqrtn">
                                        <sup class="icon__sub-title">n</sup>
                                        √x
                                    </span>
                                </div>
                                <div class="calculator__button calculator__sign" data-value="^" role="button">
                                    <span>
                                        <sub>x</sub>
                                    </span>
                                    <span>
                                        <sup>y</sup>
                                    </span>
                                </div>
                                <div class="calculator__button calculator__sign" data-value="mod" role="button">Mod</div>
                            </div>
                            <div class="calculator__row">
                                <div class="calculator__button calculator__sign" data-value="C" role="button">C</div>
                                <div class="calculator__button calculator__sign" data-value="CS" role="button">
                                    <img class="calculator__sign-icon" src="img/delete.png">
                                </div>
                                <div class="calculator__button calculator__sign" data-value="%" role="button">
                                    <img class="calculator__sign-icon" src="img/percent.png">
                                </div>
                                <div class="calculator__button calculator__sign" data-value="/" role="button">
                                    <img class="calculator__sign-icon" src="img/divide.png">
                                </div>
                            </div>
                            <div class="calculator__row">
                                <div class="calculator__button calculator__number" role="button" data-value="7">7</div>
                                <div class="calculator__button calculator__number" role="button" data-value="8">8</div>
                                <div class="calculator__button calculator__number" role="button" data-value="9">9</div>
                                <div class="calculator__button calculator__sign" data-value="*" role="button">
                                    <img class="calculator__sign-icon" src="img/multiply.png">
                                </div>
                            </div>
                            <div class="calculator__row">
                                <div class="calculator__button calculator__number" role="button" data-value="4">4</div>
                                <div class="calculator__button calculator__number" role="button" data-value="5">5</div>
                                <div class="calculator__button calculator__number" role="button" data-value="6">6</div>
                                <div class="calculator__button calculator__sign" data-value="-" role="button">
                                    <img class="calculator__sign-icon" src="img/minus.png">
                                </div>
                            </div>
                            <div class="calculator__row">
                                <div class="calculator__button calculator__number" role="button" data-value="1">1</div>
                                <div class="calculator__button calculator__number" role="button" data-value="2">2</div>
                                <div class="calculator__button calculator__number" role="button" data-value="3">3</div>
                                <div class="calculator__button calculator__sign" data-value="+" role="button">
                                    <img class="calculator__sign-icon" src="img/plus.png">
                                </div>
                            </div>
                            <div class="calculator__row">
                                <div class="calculator__button calculator__sign" data-value="+-" role="button">
                                    <img class="calculator__sign-icon" src="img/plus-minus.png">
                                </div>
                                <div class="calculator__button calculator__number" role="button" data-value="0">0</div>
                                <div class="calculator__button calculator__dot" data-value="." role="button">.</div>
                                <div class="calculator__button calculator__sign" data-value="=" role="button">
                                    <img class="calculator__sign-icon" src="img/equal.png">
                                </div>
                            </div>
                            <div class="calculator__journal journal">
                                <textarea class="journal__text" name="text" disabled>Empty journal</textarea>
                                <div class="journal__trash">
                                    <img class="journal__icon" src="img/trash.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="page__row page__row--50">
                    <div class="calculator calculator--dark" id="calcSecond">
                        <div class="calculator__header">
                            <div class="calculator__menu">
                                <div class="calculator__btn-menu btn-menu">
                                    <span class="btn-menu__first"></span>
                                    <span class="btn-menu__second"></span>
                                    <span class="btn-menu__third"></span>
                                </div>
                                <ul class="calculator-list">
                                    <li class="calculator-list__item">
                                        <span class="calculator-list__element">CALCULATOR</span>
                                        <ul class="calculator-list__sub-list">
                                            <li class="calculator-list__sub-item"><span class="calculator-list__sub-element calculator-list__sub-element--active" data-value="standart">Standart</span></li>
                                            <li class="calculator-list__sub-item"><span class="calculator-list__sub-element" data-value="scientific">Scientific</span></li>
                                        </ul>
                                    </li>
                                    <li class="calculator-list__item">
                                        <span class="calculator-list__element">THEME</span>
                                        <ul class="calculator-list__sub-list">
                                            <li class="calculator-list__sub-item"><span class="calculator-list__sub-element" data-value="light">Light</span></li>
                                            <li class="calculator-list__sub-item"><span class="calculator-list__sub-element calculator-list__sub-element--active" data-value="dark">Dark</span></li>
                                        </ul>
                                    </li>
                                </ul>
                                <div class="calculator__name" id="name">Standart</div>
                                <div class="calculator__icon--journal"><img src="img/clock.png"></div>
                            </div>
                            <div class="calculator__screen">
                                <div class="calculator__history-screen">
                                    <input class="calculator__val history-screen__val" id="history" name="history" type="text" value="" disabled>
                                </div>
                                <div class="calculator__main-screen">
                                    <input class="calculator__val main-screen__val" id="main" name="main" value="" type="text" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="calculator__main">
                            <div class="calculator__row calculator__row--scientific calculator__row--none">
                                <div class="calculator__button calculator__sign" data-value="!n" role="button">n!</div>
                                <div class="calculator__button calculator__sign" data-value="√" role="button">√</div>
                                <div class="calculator__button calculator__sign" data-value="sqr" role="button">
                                    <span>
                                        <sub>x</sub>
                                    </span>
                                    <span>
                                        <sup>2</sup>
                                    </span>
                                </div>
                                <div class="calculator__button calculator__sign" data-value="1/x" role="button">
                                    <span>
                                        <sup>1</sup>
                                    </span>
                                    <span>&frasl;</span>
                                    <span>
                                        <sub><em>x</em></sub>
                                    </span>
                                </div>
                            </div>
                            <div class="calculator__row calculator__row--scientific calculator__row--none">
                                <div class="calculator__button calculator__sign" data-value="log" role="button">log</div>
                                <div class="calculator__button calculator__sign" role="button" data-value="^√">
                                    <span class="icon icon--sqrtn">
                                        <sup class="icon__sub-title">n</sup>
                                        √x
                                    </span>
                                </div>
                                <div class="calculator__button calculator__sign" data-value="^" role="button">
                                    <span>
                                        <sub>x</sub>
                                    </span>
                                    <span>
                                        <sup>y</sup>
                                    </span>
                                </div>
                                <div class="calculator__button calculator__sign" data-value="mod" role="button">Mod</div>
                            </div>
                            <div class="calculator__row">
                                <div class="calculator__button calculator__sign" data-value="C" role="button">C</div>
                                <div class="calculator__button calculator__sign" data-value="CS" role="button">
                                    <img class="calculator__sign-icon" src="img/delete.png">
                                </div>
                                <div class="calculator__button calculator__sign" data-value="%" role="button">
                                    <img class="calculator__sign-icon" src="img/percent.png">
                                </div>
                                <div class="calculator__button calculator__sign" data-value="/" role="button">
                                    <img class="calculator__sign-icon" src="img/divide.png">
                                </div>
                            </div>
                            <div class="calculator__row">
                                <div class="calculator__button calculator__number" role="button" data-value="7">7</div>
                                <div class="calculator__button calculator__number" role="button" data-value="8">8</div>
                                <div class="calculator__button calculator__number" role="button" data-value="9">9</div>
                                <div class="calculator__button calculator__sign" data-value="*" role="button">
                                    <img class="calculator__sign-icon" src="img/multiply.png">
                                </div>
                            </div>
                            <div class="calculator__row">
                                <div class="calculator__button calculator__number" role="button" data-value="4">4</div>
                                <div class="calculator__button calculator__number" role="button" data-value="5">5</div>
                                <div class="calculator__button calculator__number" role="button" data-value="6">6</div>
                                <div class="calculator__button calculator__sign" data-value="-" role="button">
                                    <img class="calculator__sign-icon" src="img/minus.png">
                                </div>
                            </div>
                            <div class="calculator__row">
                                <div class="calculator__button calculator__number" role="button" data-value="1">1</div>
                                <div class="calculator__button calculator__number" role="button" data-value="2">2</div>
                                <div class="calculator__button calculator__number" role="button" data-value="3">3</div>
                                <div class="calculator__button calculator__sign" data-value="+" role="button">
                                    <img class="calculator__sign-icon" src="img/plus.png">
                                </div>
                            </div>
                            <div class="calculator__row">
                                <div class="calculator__button calculator__sign" data-value="+-" role="button">
                                    <img class="calculator__sign-icon" src="img/plus-minus.png">
                                </div>
                                <div class="calculator__button calculator__number" role="button" data-value="0">0</div>
                                <div class="calculator__button calculator__dot" data-value="." role="button">.</div>
                                <div class="calculator__button calculator__sign" data-value="=" role="button">
                                    <img class="calculator__sign-icon" src="img/equal.png">
                                </div>
                            </div>
                            <div class="calculator__journal journal">
                                <textarea class="journal__text" name="text" disabled>Empty journal</textarea>
                                <div class="journal__trash">
                                    <img class="journal__icon" src="img/trash.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="footer">
            <div class="footer__copyright copyright">
                <p class="copyright__text">
                    © 2018 <a class="copyright__link" href="https://bitbucket.org/haanastasia/calc/" target="_blank">Anastasia Dolgopolova</a>
                </p>
            </div>
        </footer>
    </div>
</body>
</html>		